{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Sign up</h2>
    <form  class="form-signup" method="post">
        {% csrf_token %}
        {{ form }}</br>
        <div class="col-md-2 center-block">
            <input type="submit" name="submit" class="btn btn-primary" value="Sign Up" />
        </div>
    </form>
{% endblock %}