{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{% trans "Login Page" %}{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 100px;"><h1 class="h3 mb-3 font-weight-normal ">{% trans "Login" %}</h1></div>
<form class="form-signin" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
  <div class="mx-auto"><button type="submit" class="btn btn-primary col align-self-center">Login</button></div>
</form>
{% endblock %}